/* impostazioni generali */
body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.padding_bottom {
  padding-bottom: 30px;
}
.padding_top {
  padding-top: 30px;
}
.padding_top_10 {
  padding-top: 10px;
}
.padding_bottom_10 {
  padding-bottom: 10px;
}

li {
  list-style: none;
}

.wrapper_90 {
  width: 90%;
  margin: 0 auto;
}
.wrapper_80 {
  width: 80%;
  margin: 0 auto;
}

.font_1_5 {
  font-size: 1.5em;
}
.blue {
  color: #007FFF;
}

.text_p p {
  font-size: 1.5em;
  color: grey;
}
.text_p_big {
  font-size: 1.5em;
  font-weight: bolder;
  color: grey;
}

/* impostazioni nav */
nav {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 999;
}
nav li {
  display: inline-block;
}
nav img {
  width: 150px;
  margin-top: 20px;
}
nav li {
  line-height: 70px;
  vertical-align: middle;
  padding-right: 10px;
}
nav li a {
  color: black;
  font-weight: bold;
}
nav .btn {
  background: none;
  border: 1px solid #0f8ff5;
  color: #0f8ff5;
}
#bars {
  font-size: 30px;
  color: #0f8ff5;
  line-height: 70px;
  vertical-align: middle;
}

/* impostazioni banner */
#banner {
  margin-top: 70px;
  background-image: url('../img/jumbo.svg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.3em;
}
#banner h2 {
  font-size: 3em;
}
.my_btn {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
  color: grey;
}
.my_btn_blue {
  background-color: #579aff;
  color: white;
}
.my_btn_blue:hover {
  background-color: #004aff;
  color: white;
}
.my_btn img {
  width: 22px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.box-white {
  background-color: white;
  padding: 10px;
  color: black;
}

/* impostazioni loghi */
#logos, .slider {
  background-color: #f3f5f9;
}
#logos .box {
  width: 100%;
  height: 100px;
}
#logos img {
  width: 90%;
  height: 100%
}
#logos a {
  display: block;
  font-size: 1.5em;
  color: #004aff;
}

/* impostazioni configurazioni */
.configuration li {
  color: grey;
  vertical-align: bottom;
  padding: 10px;
  font-size: 1.3em;
}
.configuration ul {
  padding-left: 0;
}
.configuration .box {
  margin: 20px 10px;
}
.configuration .border-left {
  border-left: 1px solid lightgrey;
  margin: 0;
}


/* impostazioni slider */
.slider .box .img_slider {
  max-height: 500px;
  width: 100%;
}
.slider .box {
  max-height: 500px;
  line-height: 500px;
  vertical-align: middle;
  position: relative;
}
.slider .arrow {
  font-size: 3em;
}
.arrow_grey{
  color: grey;
}
.slider .fa-circle {
  font-size: 1.2em;
  color: #004aff;
}

/* impostazioni configuration 2 */
.configuration a {
  display: block;
  font-size: 1.5em;
  color: #004aff;
}

/* impostazioni service */
#service, #getstarted {
  background: linear-gradient(#0046c4, #001f9a);
  color: white;
}
#service .row_regions {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 1.3em;
}
.row_regions {
  margin: 0 20px;
}
.row_regions:not(.no_border) {
  border-bottom: 1px solid white;
}
.row_regions .code {
  font-weight: bolder;
}
.row_regions a {
  display: block;
  text-align: right;
  color: #4dcee3;
}

/* impostazioni slider 2 */
.box_empty {
  height: 500px;
  padding: 20px;
  background-color: white;
  line-height: normal;
}
.box_empty .logo {
  width: 300px;
  padding: 30px 0;
}
.box_empty .text_p_big {
  font-size: 2em;
}
.box_empty p {
  font-size: 1.5em;
}
.box_empty a {
  font-size: 1.5em;
}
.box_empty .content_box {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* impostazioni get started */
#getstarted .btn {
  color: #0f8ff5;
  font-size: 1.5em;
  margin: 10px 0;
}

/* impostazioni footer */
footer {
  background-color: #02135a;
  color: lightgrey;
  font-size: 1.2em;
}
footer .logos {
  font-size: 30px;
}
footer ul {
  padding: 0;
}
footer li:not(:first-child) {
  padding-top: 5px;
}
footer li a {
  display: block;
  color: lightgrey;
}
footer li:first-child {
  font-weight: bold;
  font-size: 1.3em;
  color: white;
}
.grey {
  color: grey;
}

/* impostazioni help */
.help_bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  z-index: 900;
}
.help img {
  width: 70px;
  float: right;
  margin-right: 20px;
  background-color: #007FFF;
  padding: 5px 0;
  border-radius: 15px;
}

.bubble { /*bubble trovate online*/
float: left;
position: relative;
width: 230px;
height: 60px;
background: #FFFFFF;
border-radius: 10px;
padding: 10px;
border: 2px solid #007FFF;
}
.bubble:after {
content: '';
position: absolute;
border: 1px solid black;
border-width: 15px 0 15px 15px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
right: -14px;
top: 20px;
}
.bubble:before {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #007FFF;
display: block;
width: 0;
z-index: 0;
right: -16px;
top: 20px;
}

.circle_number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: -5px;
  right: 15px;
  z-index: 999;
  font-size: 20px;
  line-height: 20px;
  color: white;
  padding: 4px;
  border: 1px solid #007FFF;
}
.number {
  border-radius: 50%;
  background: orange;
}
